/* to override other styles */
.logo {
    max-width: 500px;
}
.navbar {
    max-width: 1400px;
    display: flex;
    flex-wrap: nowrap;
}

#primary-menu {
    display: flex;
    flex-wrap: nowrap;
}
#primary-menu ul {
    background-color: red;
    list-style: none;
}

#primary-menu li {
    display: inline;
}
