@import "queries";
@mixin gradient-background($bottom, $top) {
    background: $top;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $top, $bottom);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $top, $bottom);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $top, $bottom);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $top, $bottom);
    /* Standard syntax */
}
/* to override other styles */
#header-container {
    height: 500px;
    width: 100%;
    @include gradient-background(#6f0000, #200122);
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .nav-container {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // margin: 0 auto;
    }
}

.logo {
    max-width: 500px;
}

#navbar {
    font-family: "ingra";
    padding-top: 15px;
    // max-width: 1400px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0;

    .navlinks {
        display: flex;
        flex-wrap: nowrap;

        .links {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#primary-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
        padding-left: 0;
        margin: 0;
    }

    li {
        display: inline;
        text-align: center;
        font-size: 1.3em;
        font-weight: 200;
        padding: 5px 0;
        margin: 0 5px;

        a {
            transition: color 0.2s;
            text-decoration: none;
            color: rgb(224, 223, 223);
            margin: 10px;
            font-family: "futura-pt";
            font-weight: 500;

            &:hover {
                color: #773D3B;
            }
        }
    }

    .current_page_item {
        border-bottom: 2px solid #e0dfdf;
    }
}

#navbar .navbar-right {
    display: flex;
    flex-wrap: wrap;
    width: 12em;
    align-items: center;
    justify-content: center;

    .nav-button {
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        background-color: rgb(224, 223, 223);
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        font-family: "futura-pt";
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #4f000e;
        text-decoration: none;
        transition: all 0.15s ease;
        -webkit-backface-visibility: hidden;
        margin-bottom: 0.2em;
        width: 100%;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
    }
}
@media screen and (max-width: 1215px) {
    /* ONLY for use with nav, everything else is mobile-first! */

    #header-container {
        height: auto;
    }

    #navbar {
        flex-wrap: wrap;

        .navlinks {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .logo-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    #issuu-docs {
        height: 280px !important;
    }
}
@media screen and (max-width: 715px) {
    /* ONLY for use with nav, everything else is mobile-first! */
    #navbar {
        height: auto;

        .navlinks {
            flex-wrap: wrap;

            section {
                width: 100%;

                #primary-menu {
                    flex-wrap: wrap;
                    height: auto;

                    ul {
                        width: 100%;
                        flex-wrap: wrap;

                        li {
                            width: 100%;
                            border-bottom: 2px solid rgba(104, 18, 22, 0.19);
                        }

                        .current_page_item {
                            background-color: rgba(104, 18, 22, 0.19);
                        }
                    }
                }
            }

            .navbar-right {
                display: flex;
                justify-content: center;
                padding-top: 12px;

                .nav-button {
                    width: auto;
                    margin: 0 0.25em;
                    @include break(not-small) {
                        margin-left: 10px;
                    }
                }

                margin-bottom: 0.5em;

            }
        }

        .logo-container {
            a {
                text-align: center;
            }

            .logo {
                max-width: none;
                width: 85%;
            }
        }
    }

    #issuu-docs {
        display: none !important;
    }

    .header-container {
        height: auto !important;
        padding-bottom: 12px;
    }
}

#issuu-docs {
    display: flex;
    flex-wrap: nowrap;
    height: 295px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 auto;
    font-family: "ingra";
    padding: 20px 30px 0;
    width: 100%;

    .recent-journal {
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        background-color: white;
        width: 210px;
        margin-right: 25px;
        border-radius: 3px;
        transition: all 0.25s;
        flex: none;

        p { /* title */
            text-align: center;
            margin: 0;
            line-height: 30px;
            font-weight: 300;
            font-family: "futura-pt";
        }
        &:hover {
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        }

        &:active {
            transform: translateY(10px);
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}

body {
    background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c1c1c1' fill-opacity='0.32'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#content {
    max-width: 1100px;
    margin: 0 auto;
    font-family: "ingra";
    padding: 0 30px;
    background-color: #ffffff;

    h1 {
        font-size: 3em;
        text-align: center;
    }

    h2 {
        text-align: center;
        width: 100%;
    }

    .entry-header {
        margin-top: 17px;

        h1 {
            font-family: "ff-meta-serif-sc-web-pro";
            text-decoration: none;
            color: inherit;
            font-size: 2em;
            font-weight: 500;
        }
    }

    .entry-title {
        margin-top: 0;

        a {
            font-family: "ff-meta-serif-sc-web-pro";
            font-weight: 500;
            text-decoration: none;
            color: inherit;
            font-size: 2em;
            line-height: 0.75;
        }

    }

    .entry-meta {
        width: 100%;
        text-align: center;
        margin-bottom: 15px !important;

        .posted-on {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                font-family: "ff-meta-serif-sc-web-pro";
                font-weight: 500;
                text-decoration: none;
                color: inherit;
                font-size: 1.6em;
            }
        }

        .posted-on:before,
        .posted-on:after {
            flex-grow: 1;
            height: 2px;
            content: '\a0';
            background-color: #ddd;
            position: relative;
            top: 1.1em;
        }

        .posted-on:before {
            margin-right:10px;
        }

        .posted-on:after {
            margin-left:10px;
        }
    }

    .entry-content {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        h2 {
            font-family: "ff-meta-serif-sc-web-pro";
            font-size: 2em;
            font-weight: 500;
        }

        .portraitContainer {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            @include break(not-small) {
                width: 30%;
            }
        }
        .portrait {
            max-width: 320px;
            align-self: center;
            margin: 0 auto 20px auto;

            @include break(not-small) {
                width:100%;
                margin: 0;
            }

            border-radius: 4px;
        }

        .

        .artist-content {
            width: 100%;
            @include break(not-small) {
                width: 69%;
            }

            .artistbio {
                display: flex;
                margin: 0;
                max-width: none;
                padding: 0;
                @include break(not-small) {
                    padding-left: 30px;
                }
                font-family: "futura-pt";
                font-weight: 300; // light

                h3 {
                    font-family: "futura-pt";
                    font-weight: 500;
                    text-align: center;
                    font-size: 2.5em;
                    line-height: 1em;
                    margin: 0;
                    padding: 0 10px 0 0;
                    border-right: 3px solid;
                    margin-right: 15px;
                }

                .biotext {
                    padding: 0;
                }
            }

            .artistart {
                width: 100%;
                position: relative;

                @include break(not-small) {
                    margin-left: 20px;
                }
                .art {
                    padding: 3px;
                    // height: 280px;
                    width:25%;
                }
                .landscape {
                    width: 50%;
                }
            }

            .artistwriting {
                padding-left: 25px;

                h4 {
                    font-weight: 400;
                    font-size: 1.5em;
                    margin-bottom: 0;
                }
            }
        }

        .cscfBlock { // contact plugin
            max-width: 650px;
            margin: 0 auto;

            .input-xlarge {
                width: 250px;
            }

            textarea {
                width: 100% !important;
            }
        }

    }

    p {
        font-weight: 200;
        font-size: 1.05em;
        line-height: 1.2;
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 15px;
        color: #404040;
        background-color: white;
        padding: 0 0 20px;
    }

    .basicInfo {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .theCrewContainer {
        width: 100%;
        @include break(large) {
            width: 50%;
        }

        .theCrew {
            border-radius: 4px;
            vertical-align: bottom;
        }
    }

    .aboutUs {
        font-family: "futura-pt";
        font-weight: 700;
        width: 100%;
        @include break(large) {
            width: 50%;
            padding: 0 0 0 30px;
        }
        padding: 20px 0;
        background-color: white;
    }

    .profile {
        background-color: white;
        border-radius: 4px;
        width: 50%;
        @include break(medium) {
            width: 33.33%;
        }
        @include break(large) {
            width: 25%;
        }
        padding: 0 10px;

        h3 {
            width: 100%;
            text-align: center;

            span {
                font-weight: 300;
                // font-size: 0.8em;
                margin-left: 5px;
            }
        }

        img {
            border-radius: 4px;
        }

        p {
            font-family: "futura-pt";
            font-size: 1.05em;
            margin-bottom: 0;
        }
    }

    .profileContainer {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
    }
}

#colophon {
    // footer
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-family: "ingra";
}
