@mixin gradient-background($bottom, $top) {
    background: $top; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $top, $bottom); /* Standard syntax */
}

/* to override other styles */
#header-container {
    height: 500px;
    width: 100%;
    @include gradient-background(#6f0000, #200122);
}

.logo {
    max-width: 500px;
}

#navbar {
    font-family: "jaf-domus";
    padding-top: 15px;
    max-width: 1400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    height: 140px;

    section {
        height: 100%;
    }
}

#primary-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    li {
        display: inline;
        text-align: center;
        font-size: 1.5em;
        font-weight: 300;
        padding-bottom: 5px;
        margin: 0 5px;

        a {
            transition: color 0.2s;
            text-decoration: none;
            color: rgb(224, 223, 223);
            margin: 10px;

            &:hover {
                color: #773D3B;
            }
        }
    }

    .current_page_item {
        border-bottom: 2px solid #e0dfdf;
    }
}

#navbar .navbar-right {
    display: flex;
    align-items: center;

    .nav-button {
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        background-color: rgb(224, 223, 223);
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #4f000e;
        text-decoration: none;
        transition: all 0.15s ease;
        -webkit-backface-visibility: hidden;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
    }
}

#content {
    max-width: 1400px;
    margin: 0 auto;
    font-family: "jaf-domus";

    h1 {
        font-size: 3em;
    }


}


#footer {
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-family: "jaf-domus";
    .site-info {
        // text-align: center;

    }
}
